@import url(http://fonts.googleapis.com/css?family=Merriweather:700);

h3 {
color: black;
  border-collapse: separate;
  border-spacing: 16px 0;
  border-spacing: 1rem 0;
  display: table;
  font-family: Merriweather;
  font-size: 3em;
  line-height: .25;
  margin: 1em 0 .5em;
  table-layout: auto;
  text-align: center;
  text-shadow: .0625em .0625em 0 rgba(0, 0, 0, .2);
  white-space: nowrap;
  width: 100%;
}

h3:before,h3:after
{
  border-top: 3px double black;
  content: '';
  display: table-cell;
  width: 50%;
}

h3:before,h3:after {
  border-top-width: 6px;
}

h1 { font-size: 4em; }
h1:before,h1:after {
  border-top-style: solid;
}

body{
	text-align: center;
}

.navbar{
  background-color:black;
  width: 100%;
  height:55px;
  opacity: 0.7;
  
}

.nav-menu {
  display: block;
  width:390px;
  margin-left: 900px;
  border:5px;
  border-color: black;
}

.nav-menu > li {
  display: inline;
  float:left;     
  border-right:1px solid #94c0be;
}
.nav-menu > li:last-child {
  border-right: none;
}
.nav-menu li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: 'Lobster';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: capitalize;
  overflow: visible;
  line-height: 20px;
  font-size: 20px;
  padding: 15px 30px 15px 31px;     
}

/* animation domination */
.three-d {
  perspective: 200px;
  transition: all .07s linear;
  position: relative;
}

.three-d:not(.active):hover {
  cursor: pointer;
}

.three-d:not(.active):hover .three-d-box, 
.three-d:not(.active):focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotatex(0deg) translatez(25px);
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  color: #FFE7C4;
}

.front, .back {
  border-color: black;
  border-size:100px;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:black;
  background-size: 100px;
  padding: 15px 30px 15px 31px; 
  color: white;
  pointer-events: none;
  box-sizing: border-box;
}
.nav-menu li .active .front,
.nav-menu li .active .back,
.nav-menu li a:hover .front,
.nav-menu li a:hover .back {
  background-color: black;
  background-size: 5px 5px;
  background-position: 0 0, 30px 30px;
  background-image: -*-linear-gradient(45deg, #478480 25%, transparent 25%, transparent 75%, #478480 75%, #478480), linear-gradient(45deg, #478480 25%, transparent 25%, transparent 75%, #478480 75%, #478480);
}
.nav-menu ul {
  position: absolute;
  text-align: left;
  line-height: 40px;
  font-size: 14px;
  width: 200px;
  transition: all 0.3s ease-in;
  transform-origin: 0px 0px;
  transform: rotateX(-90deg);
  backface-visibility: hidden;
}
.nav-menu > li:hover ul {
  display: block;
  transform: rotateX(0deg);
}

h2{

	text-align: center;
}
p {
  font-size: 140%;
  line-height: 150%;
  color: black;
}

#kenice { 
background: url("http://37.media.tumblr.com/2292c0583894cd27ef887ca431e4cc40/tumblr_mkjw8oi7vb1s5jt7zo1_500.jpg") 50% 0 repeat fixed; min-height: 1000px;
}
	
#home { 
background: url("http://static.tumblr.com/tvq92vh/MLelyuzvt/tumblr_lscvfyngnp1r3rp72o1_500.png") 50% 0 repeat fixed; min-height: 1000px;
}
 

#slide { 
background: url("http://api.ning.com/files/j3TzjT9YQ3BMraiN-oOfWYxA88HNyzwd4swKa6hjQDLF01chXRZqQxe3SYC1iZ1LpofXI2*8wHsLjjRelZT7-BtisvNwER80/19121162.jpg") 50% 0 repeat fixed; min-height: 1000px;
}
#kenice { 
  background: url("http://download-wallpapers.net/wallpapers/beach-wallpapers-wallpaper-beach-image-rocks-images-wallpaper-40869.jpg") 50% 0 repeat fixed; min-height: 1000px; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box;
}
#kenice article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  text-decoration: white;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box;

}

#home { 
  background: url("http://salonphal.com/wp-content/uploads/2014/04/tumblr_static_white_damask_background-wallpaper-2560x16001.jpg") 50% 0 repeat fixed; min-height: 1500px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box;
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box; 
}
 

#slide { 
  background: url("http://epiphanyinthecacophony.files.wordpress.com/2014/03/water-ocean-and-waves-44_www-fullhdwpp-com_.jpg") 50% 0 repeat fixed; min-height: 1000px; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box;
}
 
#slide article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#margin{
	padding-top: 300px;
}
 .header1{
 	font-family: Merriweather;
 	color: black;
 	padding-top: 200px;
 	text-align: center;
 	font-size: 100px;
 	
 	}

.header2{
	padding-top: 50px;
	margin-bottom: 100px;
	color: black;
}

.insta{
	background-color: white;
	width: 565px;
	height: 300px;
}
.awesome{
	margin-right: 110px;
	margin-bottom: 100px;
	margin-left: 130px;
	background-color: white;
	width: 565px;
	height: 300px;
}
.todo{
	background-color: white;
	margin-right: 110px;
	margin-left: 130px;
	width: 565px;
	height: 300px;
}
.blog{
	margin-bottom: 100px;
	margin-right: 150px;
	background-color: white;
	background-position: center;
	width: 565px;
	height: 300px;
}
.header3{
	color: white;
	margin-bottom:200px;
	margin-top: 100px;
}
#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
text-align: center;
}

#wrapper:hover .text {
visibility:visible;
}
img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img:hover {
    opacity: 0.3;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.text{
	font-size: 20px;
	text-align: center;
}