@import url(http://fonts.googleapis.com/css?family=Merriweather:700);

h3 {
  text-shadow: 2px 2px 4px black;
  color: white;
  border-collapse: separate;
  border-spacing: 16px 0;
  border-spacing: 1rem 0;
  display: table;
  font-family: Merriweather;
  font-size: 2em;
  line-height: .25;
  margin: 1em 0 .5em;
  table-layout: auto;
  text-align: center;
  text-shadow: .0625em .0625em 0 rgba(0, 0, 0, .2);
  white-space: nowrap;
  width: 100%;
}

h3:before,h3:after
{
  border-top: 3px double black;
  content: '';
  display: table-cell;
  width: 50%;
}

h3:before,h3:after {
  border-top-width: 6px;
}

h1 { font-size: 4em; }
h1:before,h1:after {
  border-top-style: solid;
}

body{
	text-align: center;
}

.navbar{
  background-color:black;
  width: 100%;
  height:55px;
  
}

.nav-menu {
  display: block;
  width:390px;
  margin-left: 900px;
  border:5px;
  border-color: black;
}

.nav-menu > li {
  display: inline;
  float:left;     
  border-right:1px solid #94c0be;
}
.nav-menu > li:last-child {
  border-right: none;
}
.nav-menu li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: 'Lobster';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: capitalize;
  overflow: visible;
  line-height: 20px;
  font-size: 20px;
  padding: 15px 30px 15px 31px;     
}

/* animation domination */
.three-d {
  perspective: 200px;
  transition: all .07s linear;
  position: relative;
}

.three-d:not(.active):hover {
  cursor: pointer;
}

.three-d:not(.active):hover .three-d-box, 
.three-d:not(.active):focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotatex(0deg) translatez(25px);
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  color: #FFE7C4;
}

.front, .back {
  border-color: black;
  border-size:100px;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:black;
  background-size: 100px;
  padding: 15px 30px 15px 31px; 
  color: white;
  pointer-events: none;
  box-sizing: border-box;
}
.nav-menu li .active .front,
.nav-menu li .active .back,
.nav-menu li a:hover .front,
.nav-menu li a:hover .back {
  background-color: black;
  background-size: 5px 5px;
  background-position: 0 0, 30px 30px;
  background-image: -*-linear-gradient(45deg, #478480 25%, transparent 25%, transparent 75%, #478480 75%, #478480), linear-gradient(45deg, #478480 25%, transparent 25%, transparent 75%, #478480 75%, #478480);
}
.nav-menu ul {
  position: absolute;
  text-align: left;
  line-height: 40px;
  font-size: 14px;
  width: 200px;
  transition: all 0.3s ease-in;
  transform-origin: 0px 0px;
  transform: rotateX(-90deg);
  backface-visibility: hidden;
}
.nav-menu > li:hover ul {
  display: block;
  transform: rotateX(0deg);
}

h2{

	text-align: center;
}
p {
  font-size: 140%;
  line-height: 150%;
  color: black;
}

#kenice { 
background: url("http://www.tortugasvillas.com/wp-content/uploads/2013/12/mmw-3.jpg") 50% 0 repeat fixed; min-height: 1000px;
}
	
#home { 
background: url("http://broadreachbenefits.com/wp-test/wp-content/uploads/2014/02/clouds-background.png") 50% 0 repeat fixed; min-height: 1000px;
}
 

#slide { 
background: url("http://api.ning.com/files/j3TzjT9YQ3BMraiN-oOfWYxA88HNyzwd4swKa6hjQDLF01chXRZqQxe3SYC1iZ1LpofXI2*8wHsLjjRelZT7-BtisvNwER80/19121162.jpg") 50% 0 repeat fixed; min-height: 1000px;
}
#kenice { 
  background: url("http://www.tortugasvillas.com/wp-content/uploads/2013/12/mmw-3.jpg") 50% 0 repeat fixed; min-height: 1000px; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
#kenice article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  text-decoration: white;
  

}

#home { 
  background: url("http://broadreachbenefits.com/wp-test/wp-content/uploads/2014/02/clouds-background.png") 50% 0 repeat fixed; min-height: 1500px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box;
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box; 
}
 

#slide { 
  background: url("http://img0.mxstatic.com/wallpapers/1820a86e112db97fa13dfe8de84b1030_large.jpeg") 50% 0 repeat fixed; min-height: 1000px; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 7); 
  box-sizing:border-box;
}
 
#slide article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}


 .header1{
 	color: white;
    text-shadow: 2px 2px 4px black;
 	font-family: Merriweather;
 	padding-top: 100px;
 	text-align: center;
 	font-size: 80px;
 	
 	}

.header2{
	font-family: Merriweather;
	text-shadow: 2px 2px 4px black;
	padding-top: 50px;
	margin-bottom: 100px;
	color: lightcoral;
}

.insta{
	background-color: white;
	width: 615px;
	height: 370px;
}
.awesome{
	margin-right: 40px;
	margin-bottom: 40px;
	margin-left: 110px;
	background-color: white;
	width: 595px;
	height: 370px;
}
.todo{
	background-color: white;
	margin-right: 40px;
	margin-left: 110px;
	width: 595px;
	height: 370px;
}
.blog{
	margin-bottom: 40px;
	margin-right: 150px;
	background-color: white;
	width: 615px;
	height: 370px;
}
.header3{
	font-family: Merriweather;
	color: white;
	margin-bottom:50px;
	margin-top: 100px;
}
#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
text-align: center;
}

#wrapper:hover .text {
visibility:visible;
}
img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img:hover {
    opacity: 0.2;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.text{
	font-size: 20px;
	text-align: center;
	padding-bottom: 300px;
}
ul {
    overflow: auto;
    margin-left: 620px;
}
 
ul li {
    list-style-type: none;
    float: left;
    margin-bottom: 50px;
}
 
ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

.fa-facebook {
    background:#3b5998
} 
.fa-linkedin {
    background:#007bb6
}
.fa-twitter {
    background:#00aced
}
.google-plus {
    background:#dd4b39
}
ul li a i:hover {
    opacity: .7;
}

#form-wrap{
	width:600px;
	border:5px solid #ccc;
	background-color: gray;
	opacity: 0.9;
	margin: 50px auto;
	padding: 10px 0;

} 
form{
	width: 500px;
	margin: 0 auto;
	height: 400px;
}
label{
	display: block;
	margin: 5 0 5 20px;
	font: 18px Merriweather;
	color: black;

}
input{
	width: 250px;
	margin: 0 0 0 20px;
}

textarea{
	width:250px;
	margin: 0 0 0 20px; 
}
fieldset{
	height: 200px;
	border:none;
	background-color: gray;
	padding: 0 0 20 0px;
}
.labelone{
	margin-top: 10px;
}
.btn{
	margin-top: 100px;
	width: 125px;
}
.btn:hover{
	opacity: 0.7;
	background-color: blue;
}


@media only screen and (min-width: 320px) and (max-width: 989px) {
#kenice {


background-attachment: scroll !important;
background-repeat: no-repeat;
}
#slide {
background-attachment: scroll !important;
}
#home {
	
background-attachment: scroll !important;
}
.awesome{
	margin-right: 600px;
	background-color: transparent;
	width: 10px;
	height: 10px;
	margin-bottom: 200px;
}
.blog{
	margin-bottom: 200px;
	margin-left: 110px;
	background-color: transparent;
	width: 10px;
	height: 10px;
}
.todo{
	margin-bottom: 100px;
	background-color: transparent;
	width: 10px;
	height: 10px;
}
.insta{
	margin-left: 110px;
	margin-top: 100px;
	margin-right: 90px;
	background-color: transparent;
	width: 50px;
	height: 50px;
}

img{
	width: 250px;
	height: 160px;
}
h3{
	font-size: 10px;
}
.header1{
	font-size: 50px;
}
#form-wrap{
	height: 300px;
	width:300px;
	border:5px solid #ccc;
	background-color: gray;
	opacity: 0.9;
	margin: 50px auto;
	padding: 10px 0;

} 
form{
	width: 200px;
	margin: 0 auto;
	height: 100px;
}
label{
	display: block;
	margin: 5 0 5 20px;
	font: 18px Merriweather;
	color: black;

}
input{
	width: 150px;
	margin: 0 0 0 20px;
}

textarea{
	width:100px;
	margin: 0 0 0 20px; 
}
fieldset{
	height: 100px;
	border:none;
	background-color: gray;
	padding: 0 0 20 0px;
}
.labelone{
	margin-top: 10px;
}
.btn{
	margin-top: 50px;
	width: 100px;
}
.btn:hover{
	opacity: 0.7;
	background-color: blue;
}
.text{
	font-size: 20px;
	text-align: center;
	padding-bottom: 100px;
}
ul {
    overflow: auto;
    margin-left: 60px;
}
 
ul li {
    list-style-type: none;
    float: left;
    margin-bottom: 50px;
}
 
ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

.fa-facebook {
    background:#3b5998
} 
.fa-linkedin {
    background:#007bb6
}
.fa-twitter {
    background:#00aced
}
.google-plus {
    background:#dd4b39
}
ul li a i:hover {
    opacity: .7;
}



}
